.plantCard{
    border: 1px solid black;
    padding :5px 20px;
    border-radius: 10px ;
    margin: 20px;
    position: relative; 
    height: 150px;
    text-decoration: none;
}
.plantTitle{
    font-size: 20px;
}
.PlantCardImg{
    height: 140px;
    width: 200px;
    object-fit: cover;
    position: absolute;
    top: 10px;
    right: 10px;
}
.action-btn{
    background-color: rgb(11, 8, 7);
    color: white;
    margin :0 4px;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 2px;
    text-decoration: none;
}
.editBtn{

}
.deleteBtn{

}