.plantCard{
    border: 1px solid black;
    padding :5px 20px;
    border-radius: 10px ;
    margin: 20px;
    position: relative; 
    text-decoration: none;
    margin: 30px auto;
    width: 500px;
}
.plantTitle{
    font-size: 20px;
    
}
.PlantCardImg{
    width: 185px;
    object-fit: cover;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 180px;
}
.Plantdescription{
    width: 330px;
}
.action-btn{
    background-color: rgb(60, 180, 224);
    color: white;
    margin :0 4px;
    padding: 9.2px;
    border-radius: 10px;
    margin-bottom: 2px;
    text-decoration: none;
    border: none;
}
.editBtn{
    padding: 8px 15px;
}
.deleteBtn{

}
@media screen and(max-width:500px){
    .plantCard{
        width: 300px;
    }
    
    
}