body{
    background-color: rgb(247, 253, 255);
}
.HomeTitle{
    font-size: 38px;
    text-align: center;
    color: rgb(9, 177, 239);
    font-weight: bold;
}

.AddBtn{
    height: 60px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 100 !important;
}